<!doctype html>
<html lang="{{site.lang}}">
  <head>
    <meta charset="{{site.charset}}">
    <title>{{site.title}} - {{page.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">

    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
    <link rel="shortcut icon" href="{{site.favicon}}">
    <link href="{{site.feedurl}}" rel="alternate" type="{{site.feedtype}}" title="{{site.title}}">

  </head>
<body>
